.titulo{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: x-large;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.contenedor{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Findiehoy.com%2Fseries%2Fel-creador-de-rick-morty-explica-como-estructura-los-episodios-de-la-serie%2F&psig=AOvVaw1cqnD-MmGhbCQlsGSTnvXE&ust=1644879446154000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCICo98rj_fUCFQAAAAAdAAAAABAD");
    padding: 20px;
}

.contenedor .characters{
    display: flex;
    flex-wrap: wrap;
}

.contenedor .characters .character{
    margin: 40px;
    border: 2px lime solid;
    color: lime;
}

.contenedor .characters .character .img{
    width: 280px;
    height: 280px;
}   

.contenedor .characters .character .details{
    padding: 5px;
}
